@font-face {
    font-family: 'Claritycity';
    src: url('./fonts/ClarityCity-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Claritycity';
    src: url('./fonts/ClarityCity-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Claritycity';
    src: url('./fonts/ClarityCity-ExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$prim-color: #162c4e;
$sec-color: #47bdff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Claritycity', sans-serif;
    font-size: 16px;
}

body {
    color: #69778c;
}

h1,
h2,
h3 {
    color: $prim-color;
}

.super-sub {
    font-size: 0.9688rem;
    letter-spacing: 0.06rem;
    font-weight: 900;
    text-transform: uppercase;
}

.super-sub-blue {
    color: $sec-color;
}

.super-sub-yellow {
    color: #fdb52a;
}

.super-sub-red {
    color: #ff7d85;
}

@mixin flex ($dir, $align, $gap) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    gap: $gap;
}