@font-face {
    font-family: 'Claritycity';
    src: url('./fonts/ClarityCity-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Claritycity';
    src: url('./fonts/ClarityCity-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Claritycity';
    src: url('./fonts/ClarityCity-ExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$prim-color: #162c4e;
$sec-color: #47bdff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Claritycity', sans-serif;
    font-size: 16px;
}

@mixin flex ($dir, $align, $gap) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    gap: $gap;
}