@use './extras' as e;

.prim-btn {
    cursor: pointer;
    width: 100%;
    padding: 23px 15px;
    border: none;
    background-color: e.$prim-color;
    color: #fff;
    font-weight: 900;
    transition: all 0.2s linear;

    &:hover {
        background-color: e.$sec-color;
        color: e.$prim-color;
    }
}

.btn-sec {
    cursor: pointer;
    padding: 23px 15px;
    width: 100%;
    border: none;
    color: e.$prim-color;
    background-color: #e4e8ed;
    font-weight: 900;
    transition: all 0.2s linear;

    &:hover {
        background-color: e.$prim-color;
        color: #fff;
    }
}

@media screen and (min-width:20rem) {
    header {
        padding: 1.875rem 1.25rem 0;
        background-color: #fff8e5;
    }

    nav {
        @include e.flex(row, unset, unset);
        justify-content: space-between;

        ul {
            display: none;
        }
    }

    .intro-section {
        background-color: #fff8e5;
    }

    .subheading {
        color: e.$prim-color;
        line-height: 1.1;
        font-size: 1.75rem;
        margin: .9375rem 0 0;
    }

    .text {
        padding: 3.75rem 1.25rem;
        text-align: center;

        h1 {
            font-size: 2.5rem;
            margin: .625rem 0 .625rem;
            color: e.$prim-color;
            line-height: 1.1;
        }

        p {
            color: #2e4567;
            font-weight: 500;
            line-height: 1.5;
            margin: 1rem 0 0;
        }
    }

    .cta {
        margin: 50px 0 0 0;
        @include e.flex (column, unset, 1.25rem);

        input {
            width: 100%;
            padding: 1.25rem .9375rem;
            font-weight: 500;
            border: none;
            outline: 1px #e4e8ed solid;
            transition: all 0.2s linear;

            &:hover,
            &:focus {
                outline: 1px e.$prim-color solid;
            }
        }
    }

    .img-wrapper {
        background-color: e.$prim-color;
        padding: 3.4375rem 2.1875rem;

        img {
            width: 100%;
        }
    }

    .features-section {
        .text {
            padding: 0 1.25rem;
            margin: 7.5rem 0 0;
        }

        p {
            color: #69778c;
            line-height: 1.7;
            font-weight: 500;
        }

        .buttons {
            padding: 0 1.25rem;
            margin: 6rem 0;
            @include e.flex (column, unset, 1.25rem);
        }
    }

    .features {
        @include e.flex(column, unset, 6.25rem);
        margin: 6.25rem 0 0;
        padding: 0 2.5rem;

        h2 {
            color: e.$prim-color;
        }
    }

    .feat-card {
        @include e.flex(column, baseline, 20px);

        h2 {
            font-size: 1.4375rem;
            width: 85%;
            margin: .625rem 0 0;
        }
    }

    .product-section {
        background-color: e.$prim-color;
        padding: 6.25rem 1.25rem;

        h2 {
            color: #fff;
        }
    }

    .prod-features {
        margin: 3.125rem 0;
        @include e.flex(column, unset, 4.5rem);
    }

    .prod-feat-card {
        @include e.flex(column, baseline, .9375rem);

        h3 {
            font-size: 1.375rem;
            color: #fff;
        }

        p {
            color: #fff;
            font-weight: 500;
            line-height: 1.7;
            width: 89%;
        }
    }

    .prod-img-wrapper {
        img {
            width: 100%;
            border-radius: 0 50% 0 0;
        }
    }

    .get-started {
        padding: 6.25rem 1.25rem;
        text-align: center;
    }

    .steps-wrapper {
        margin: 3.125rem 0 1.875rem;
        @include e.flex(column, unset, 6.25rem);
    }

    .step-card {
        @include e.flex(column, unset, 1.25rem);

        span {
            margin: -55px auto 25px;
            display: block;
            background: #162c4e;
            color: #fff;
            padding: 1.1875rem 0;
            width: 4.8rem;
            border-radius: 50px;
            font-size: 2.375rem;
            font-weight: 900;
        }

        h3 {
            font-size: 1.4375rem;
        }

        p {
            font-weight: 500;
            line-height: 1.7;
        }

        img {
            width: 100%;
        }

        .text-wrapper {
            h3 {
                margin: 0 0 .9375rem;
            }
        }
    }

    footer {
        background-color: e.$prim-color;
        padding: 3.125rem 1.25rem 0;

        .subheading {
            color: #e4e8ed;
            text-align: center;
        }

        .btn-sec {
            margin: 2.5rem 0 2.5rem;

            &:hover {
                background-color: e.$sec-color;
                color: e.$prim-color;
            }
        }

        hr {
            border: 1px solid #fff;
            border-bottom: none;
        }

        h3,
        p {
            color: #e4e8ed;
        }

        .contact-dev {
            margin: 3.125rem 0;

            img {
                height: 20px;
                display: block;
                margin: 0 auto;
            }
        }

        .socials {
            margin: 1.875rem 0 0;
            @include e.flex(column, unset, 1.25rem);

            div {
                @include e.flex(unset, center, .625rem);
                cursor: pointer;

                &:hover p,
                &:hover a {
                    color: #47bdff;
                }

                &:hover span {
                    background-color: #47bdff;
                }

                span {
                    width: 1.875rem;
                    padding: .3125rem;
                    background-color: #fff;
                    transition: all 0.2s linear;
                }

                p {
                    font-size: 1.1875rem;
                    font-weight: 500;
                    transition: all 0.2s linear;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }

        .credits {
            text-align: center;
            margin: 2.5rem 0 0;

            div {
                margin: .625rem 0 0;
                font-weight: 500;

                p {
                    line-height: 1.7;
                }
            }
        }

        .credit-text {
            font-size: 13px;
            margin: 2.5rem 0 0;
            padding: 0 0 .625rem;
        }
    }
}

@media screen and (min-width:48rem) {
    .super-sub {
        font-size: 1.125rem;
    }

    .text {
        padding: 5rem 3.75rem;

        h1 {
            font-size: 3.625rem;
            margin-top: 1.5625rem;
        }

        p {
            font-size: 1.125rem;
            width: 90%;
            margin: 1rem auto 0;
        }
    }

    .cta {
        flex-direction: row;
        justify-content: space-between;

        form {
            width: 65%;
        }

        button {
            width: 30%;
        }
    }

    .img-wrapper {
        img {
            width: 55%;
            display: block;
            margin: 0 auto;
        }
    }

    .features-section {
        .text {
            padding: 0 3.75rem;
        }

        .buttons {
            flex-direction: row;
            padding: 0 10rem;
        }
    }

    .subheading {
        font-size: 2.5rem;
    }

    .features {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3.75rem;
        justify-content: center;
    }

    .feat-card {
        width: 45%;

        h2 {
            font-size: 1.75rem;
        }
    }

    .product-section {
        padding: 8rem 3rem;
    }

    .prod-features {
        gap: 3rem;
    }

    .prod-feat-card {
        width: 80%;
    }

    .prod-img-wrapper {
        img {
            width: 80%;
        }
    }

    .get-started {
        padding: 8rem 2rem 6rem;

        .prim-btn {
            width: 30%;
        }
    }

    .steps-wrapper {
        margin: 3.125rem 0 6rem;
    }

    .step-card {
        flex-direction: row;
        gap: 2rem;

        h3 {
            font-size: 2rem;
        }
    }

    .image-wrapper {
        width: 130%;

        img {
            width: 100%;
        }
    }

    .text-wrapper {
        text-align: left;
        justify-content: center;
        @include e.flex(column, unset, 1.875rem);

        span {
            text-align: center;
            margin: 0;
        }
    }

    footer {
        .btn-sec {
            width: 30%;
            display: block;
            margin: 3.125rem auto 3.125rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .subheading {
        font-size: 3.3rem;
        width: 65%;
        margin: 20px auto 0;
    }
    nav {
        justify-content: start;
        gap: 5rem;

        ul {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 1.2rem;
            gap: 2rem;
            li {
                cursor: pointer;
            }
            a{
                color: #252525;
                transition: color 0.22s linear;
            }
            a:hover {
                color: #47bdff;
            }
        }
    }
    .intro-section {
        display: flex;
        gap: 150px;
        align-items: center;
        .text {
            padding: 50px 0 0 50px;
            text-align: left;
            h1 {
                margin-top: 30px;
                font-size: 4rem;
                width: 90%;
                line-height: 1.2;
            }
            p {
                margin: 1rem 0 0;
            }
            .cta {
                align-items: center;
            }
        }
        .img-wrapper {
            width: 85%;
            border-radius: 5px;
            img {
                width: 100%;
            }
        }
    }
    .features-section {
        .text {
            p {
                width: 50%;
                margin: 1.2rem auto 0;
            }
        }
        .features {
            justify-content: space-between;
            padding: 0 80px;
            gap: 8rem;
            .feat-card {
                justify-content: space-between;
                width: 25%;
            }
        }
        .buttons {
            width: 35%;
            margin: 10rem auto;
            padding: 0;
            button {
                padding: 30px 20px;
            }
        }
    }
}