@font-face {
  font-family: "Claritycity";
  src: url("./fonts/ClarityCity-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Claritycity";
  src: url("./fonts/ClarityCity-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Claritycity";
  src: url("./fonts/ClarityCity-ExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Claritycity", sans-serif;
  font-size: 16px;
}

body {
  color: #69778c;
}

h1,
h2,
h3 {
  color: #162c4e;
}

a {
  color: #e4e8ed;
  text-decoration: none;
}

ul {
  list-style: none;
}

.super-sub {
  font-size: 0.9688rem;
  letter-spacing: 0.06rem;
  font-weight: 900;
  text-transform: uppercase;
}

.super-sub-blue {
  color: #47bdff;
}

.super-sub-yellow {
  color: #fdb52a;
}

.super-sub-red {
  color: #ff7d85;
}

.prim-btn {
  cursor: pointer;
  width: 100%;
  padding: 23px 15px;
  border: none;
  background-color: #162c4e;
  color: #fff;
  font-weight: 900;
  transition: all 0.2s linear;
}
.prim-btn:hover {
  background-color: #47bdff;
  color: #162c4e;
}

.btn-sec {
  cursor: pointer;
  padding: 23px 15px;
  width: 100%;
  border: none;
  color: #162c4e;
  background-color: #e4e8ed;
  font-weight: 900;
  transition: all 0.2s linear;
}
.btn-sec:hover {
  background-color: #162c4e;
  color: #fff;
}

@media screen and (min-width: 20rem) {
  header {
    padding: 1.875rem 1.25rem 0;
    background-color: #fff8e5;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: unset;
    gap: unset;
    justify-content: space-between;
  }
  nav ul {
    display: none;
  }
  .intro-section {
    background-color: #fff8e5;
  }
  .subheading {
    color: #162c4e;
    line-height: 1.1;
    font-size: 1.75rem;
    margin: 0.9375rem 0 0;
  }
  .text {
    padding: 3.75rem 1.25rem;
    text-align: center;
  }
  .text h1 {
    font-size: 2.5rem;
    margin: 0.625rem 0 0.625rem;
    color: #162c4e;
    line-height: 1.1;
  }
  .text p {
    color: #2e4567;
    font-weight: 500;
    line-height: 1.5;
    margin: 1rem 0 0;
  }
  .cta {
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 1.25rem;
  }
  .cta input {
    width: 100%;
    padding: 1.25rem 0.9375rem;
    font-weight: 500;
    border: none;
    outline: 1px #e4e8ed solid;
    transition: all 0.2s linear;
  }
  .cta input:hover, .cta input:focus {
    outline: 1px #162c4e solid;
  }
  .img-wrapper {
    background-color: #162c4e;
    padding: 3.4375rem 2.1875rem;
  }
  .img-wrapper img {
    width: 100%;
  }
  .features-section .text {
    padding: 0 1.25rem;
    margin: 7.5rem 0 0;
  }
  .features-section p {
    color: #69778c;
    line-height: 1.7;
    font-weight: 500;
  }
  .features-section .buttons {
    padding: 0 1.25rem;
    margin: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 1.25rem;
  }
  .features {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 6.25rem;
    margin: 6.25rem 0 0;
    padding: 0 2.5rem;
  }
  .features h2 {
    color: #162c4e;
  }
  .feat-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }
  .feat-card h2 {
    font-size: 1.4375rem;
    width: 85%;
    margin: 0.625rem 0 0;
  }
  .product-section {
    background-color: #162c4e;
    padding: 6.25rem 1.25rem;
  }
  .product-section h2 {
    color: #fff;
  }
  .prod-features {
    margin: 3.125rem 0;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 4.5rem;
  }
  .prod-feat-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.9375rem;
  }
  .prod-feat-card h3 {
    font-size: 1.375rem;
    color: #fff;
  }
  .prod-feat-card p {
    color: #fff;
    font-weight: 500;
    line-height: 1.7;
    width: 89%;
  }
  .prod-img-wrapper img {
    width: 100%;
    border-radius: 0 50% 0 0;
  }
  .get-started {
    padding: 6.25rem 1.25rem;
    text-align: center;
  }
  .steps-wrapper {
    margin: 3.125rem 0 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 6.25rem;
  }
  .step-card {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 1.25rem;
  }
  .step-card span {
    margin: -55px auto 25px;
    display: block;
    background: #162c4e;
    color: #fff;
    padding: 1.1875rem 0;
    width: 4.8rem;
    border-radius: 50px;
    font-size: 2.375rem;
    font-weight: 900;
  }
  .step-card h3 {
    font-size: 1.4375rem;
  }
  .step-card p {
    font-weight: 500;
    line-height: 1.7;
  }
  .step-card img {
    width: 100%;
  }
  .step-card .text-wrapper h3 {
    margin: 0 0 0.9375rem;
  }
  footer {
    background-color: #162c4e;
    padding: 3.125rem 1.25rem 0;
  }
  footer .subheading {
    color: #e4e8ed;
    text-align: center;
  }
  footer .btn-sec {
    margin: 2.5rem 0 2.5rem;
  }
  footer .btn-sec:hover {
    background-color: #47bdff;
    color: #162c4e;
  }
  footer hr {
    border: 1px solid #fff;
    border-bottom: none;
  }
  footer h3,
  footer p {
    color: #e4e8ed;
  }
  footer .contact-dev {
    margin: 3.125rem 0;
  }
  footer .contact-dev img {
    height: 20px;
    display: block;
    margin: 0 auto;
  }
  footer .socials {
    margin: 1.875rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 1.25rem;
  }
  footer .socials div {
    display: flex;
    flex-direction: unset;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;
  }
  footer .socials div:hover p, footer .socials div:hover a {
    color: #47bdff;
  }
  footer .socials div:hover span {
    background-color: #47bdff;
  }
  footer .socials div span {
    width: 1.875rem;
    padding: 0.3125rem;
    background-color: #fff;
    transition: all 0.2s linear;
  }
  footer .socials div p {
    font-size: 1.1875rem;
    font-weight: 500;
    transition: all 0.2s linear;
  }
  footer .socials div p a {
    text-decoration: none;
  }
  footer .credits {
    text-align: center;
    margin: 2.5rem 0 0;
  }
  footer .credits div {
    margin: 0.625rem 0 0;
    font-weight: 500;
  }
  footer .credits div p {
    line-height: 1.7;
  }
  footer .credit-text {
    font-size: 13px;
    margin: 2.5rem 0 0;
    padding: 0 0 0.625rem;
  }
}
@media screen and (min-width: 48rem) {
  .super-sub {
    font-size: 1.125rem;
  }
  .text {
    padding: 5rem 3.75rem;
  }
  .text h1 {
    font-size: 3.625rem;
    margin-top: 1.5625rem;
  }
  .text p {
    font-size: 1.125rem;
    width: 90%;
    margin: 1rem auto 0;
  }
  .cta {
    flex-direction: row;
    justify-content: space-between;
  }
  .cta form {
    width: 65%;
  }
  .cta button {
    width: 30%;
  }
  .img-wrapper img {
    width: 55%;
    display: block;
    margin: 0 auto;
  }
  .features-section .text {
    padding: 0 3.75rem;
  }
  .features-section .buttons {
    flex-direction: row;
    padding: 0 10rem;
  }
  .subheading {
    font-size: 2.5rem;
  }
  .features {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.75rem;
    justify-content: center;
  }
  .feat-card {
    width: 45%;
  }
  .feat-card h2 {
    font-size: 1.75rem;
  }
  .product-section {
    padding: 8rem 3rem;
  }
  .prod-features {
    gap: 3rem;
  }
  .prod-feat-card {
    width: 80%;
  }
  .prod-img-wrapper img {
    width: 80%;
  }
  .get-started {
    padding: 8rem 2rem 6rem;
  }
  .get-started .prim-btn {
    width: 30%;
  }
  .steps-wrapper {
    margin: 3.125rem 0 6rem;
  }
  .step-card {
    flex-direction: row;
    gap: 2rem;
  }
  .step-card h3 {
    font-size: 2rem;
  }
  .image-wrapper {
    width: 130%;
  }
  .image-wrapper img {
    width: 100%;
  }
  .text-wrapper {
    text-align: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 1.875rem;
  }
  .text-wrapper span {
    text-align: center;
    margin: 0;
  }
  footer .btn-sec {
    width: 30%;
    display: block;
    margin: 3.125rem auto 3.125rem;
  }
}
@media screen and (min-width: 1024px) {
  .subheading {
    font-size: 3.3rem;
    width: 65%;
    margin: 20px auto 0;
  }
  nav {
    justify-content: start;
    gap: 5rem;
  }
  nav ul {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    gap: 2rem;
  }
  nav ul li {
    cursor: pointer;
  }
  nav ul a {
    color: #252525;
    transition: color 0.22s linear;
  }
  nav ul a:hover {
    color: #47bdff;
  }
  .intro-section {
    display: flex;
    gap: 150px;
    align-items: center;
  }
  .intro-section .text {
    padding: 50px 0 0 50px;
    text-align: left;
  }
  .intro-section .text h1 {
    margin-top: 30px;
    font-size: 4rem;
    width: 90%;
    line-height: 1.2;
  }
  .intro-section .text p {
    margin: 1rem 0 0;
  }
  .intro-section .text .cta {
    align-items: center;
  }
  .intro-section .img-wrapper {
    width: 85%;
    border-radius: 5px;
  }
  .intro-section .img-wrapper img {
    width: 100%;
  }
  .features-section .text p {
    width: 50%;
    margin: 1.2rem auto 0;
  }
  .features-section .features {
    justify-content: space-between;
    padding: 0 80px;
    gap: 8rem;
  }
  .features-section .features .feat-card {
    justify-content: space-between;
    width: 25%;
  }
  .features-section .buttons {
    width: 35%;
    margin: 10rem auto;
    padding: 0;
  }
  .features-section .buttons button {
    padding: 30px 20px;
  }
}
